* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans";
}

button {
  cursor: pointer;
}

body {
  background-color: #121214;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 38px;
  text-align: center;
  margin-top: 2rem;

  & a {
    color: #e1e1e6;

    & i {
      margin-left: 4px;
    }

    &:hover {
      color: #0026ff;
    }
  }
}

.title {
  font-size: 40px;
  margin-bottom: 80px;
  padding: 20px;
  background-color: #121214;
  border-radius: 10px;

  & span {
    color: #4863f7;
  }
}

.container {
  background-color: #121214;
  width: 90%;
  max-width: 800px;

  border: 2px solid #e1e1e6;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #4863f7;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 6px;
  height: 48px;
  padding: 0 32px;
  transition: 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.5);
  }
}

.answer:disabled {
  cursor: not-allowed;
}

.final-message {
  font-size: 20px;
  text-align: center;

  & span {
    display: block;
    margin-top: 8px;
  }
}

.hide {
  display: none;
}

.correct {
  background-color: #049b48;
}

.incorrect {
  background-color: #a10101;
}
